@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
/*
font-family: 'Raleway', sans-serif;
*/

body{
    font-family: 'Raleway', sans-serif !important;
    font-weight: 800;
}

.logo{
    height: 150px;
    cursor: pointer !important;
}

.login{
  height: 35px;
  opacity: 60%;
  transition: all .4s ease;
}

.login:hover{
  height: 35.5px;
  opacity: 100%;
}

#Texto-inicio{
  cursor: pointer;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 0 5px #000;
    margin-bottom: 1.3em;
    font-size: 40px; 

}



.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
  }
  
  .imgs {
    flex: 0 32%;
    height: 19.5em;
    opacity: 80%;
    margin-bottom: .55%; /* (100-32*3)/2 */
    transition: all .4s ease;
  }

  .imgs:hover{
    opacity: 100%;
    height: 19.6em;
  }

.rodape{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card{
  border: 0 !important;
  --bs-card-spacer-y: 1rem !important;

}

.card-title{
  margin-bottom: 3rem !important;
}

.p-2{
  margin-bottom: 3rem;
}

#Texto-inicio{
  letter-spacing: 7px;
}

.carousel {
  width: 37.5%;
  position: absolute;
}

.container1{
  position: relative;
  left:17.5%;
}
