@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
/*
font-family: 'Raleway', sans-serif;
*/

body{
    font-family: 'Raleway', sans-serif !important;
    font-weight: 800;
}

a{
  text-decoration: none !important;
  color: black !important;
}

.logo{
    height: 150px;
    cursor: pointer !important;
}

.login{
  height: 35px;
  opacity: 60%;
  transition: all .4s ease;
}

.login:hover{
  height: 35.5px;
  opacity: 100%;
}

#Texto-inicio{
  cursor: pointer;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 0 5px #000;
    margin-bottom: 1.3em;
    font-size: 40px; 

}

.img-fluid{
  height: 240px !important;
  width: 320px !important;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .imgs {
    flex: 0 32%;
    height: 19.5em;
    opacity: 80%;
    margin-bottom: .55%; /* (100-32*3)/2 */
    transition: all .4s ease;
  }

  .imgs:hover{
    opacity: 100%;
    transform: scale(1.02,1.02);
  }

.rodape{
    margin-top: 5em;
}

.card{
  border: 0 !important;
  --bs-card-spacer-y: 1rem !important;

}

.card-title{
  margin-bottom: 3rem !important;

}

.p-2{
  margin-bottom: 3rem;
}

#Texto-inicio{
  letter-spacing: 7px;
}

.carousel {
  display: flex !important;
  justify-content: left !important;
  width: 50em;
  position: absolute;
}

.container1{
  position: absolute;
  left: 14.8%;
  display: flex;
  flex-direction: row;
  max-width: 1920px;
  padding-bottom: 5em;
}
.container2{
  position: absolute;
  left: 15.5%;
  display: flex;
  flex-direction: row;
  max-width: 1920px;
  padding-bottom: 5em;
}

.btn{
  font-size: 20px !important;
}

.btn-primary{
  background-color: rgb(255, 117, 25) !important;
  border-color: black !important;
  border-radius: 15px !important;
}

.bg-body-tertiary{
  --bs-bg-opacity: 0 !important;
  background-color: #fff !important;
}

.dropdown-menu{
  --bs-dropdown-link-active-bg: rgb(255, 117, 25) !important;
}

.img-fluid{
  cursor: pointer;
}

.caroulsel-inner{
  width: 900px !important;
  height: 1599px !important;
  padding-left: 50px !important; 
}

.main-sobre{

  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 250px;

}

.objetivo{
  max-width: 500px;
  margin-bottom: 100px;
}

li{
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-container{

  color: white;
  background-color: rgb(255, 117, 25);
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  gap: .1vh;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;

}

.links-footer{
  color: white !important;
}

.titulo-footers{
  font-family: 'Raleway', sans-serif !important;
}

.paginas-footer{
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.info-footer{
  display: flex;
  flex-direction: column;
}

.copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 117, 25);
  color: rgb(255, 255, 255);
}

.sociais-footer{
  display: flex;
  flex-direction: column;
}

.soc-links{
  max-height: 35px;
}

.soc-links{
  -webkit-filter: invert(1);
}

.separator-footer{
  width: 40vh;
  height: 2px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slogan-footer{
  max-width: 210px;
}

.container1{
  padding-top: 50px;
}